[Unit]
Description=SOTA Client Autoprovisioning
Wants=network-online.target
After=network.target network-online.target
Before=sota_client.service
Requires=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/var/sota
EnvironmentFile=/var/sota/sota_provisioning_url.env
Environment=SOTA_CERT_DIR=/var/sota
ExecStart=/usr/bin/sota_prov.sh sota_provisioning_credentials
RemainAfterExit=true
StandardOutput=journal 

[Install]
WantedBy=multi-user.target
